<table style="width:100% !important;">
    <thead id="head_fixed">
    <tr>
        <th><b>№</b></th>
        <th><b>НАИМЕНОВАНИЕ РИСКА</b></th>
        <th><b>ВЕРОЯТНОСТЬ НАСТУПЛЕНИЯ</b></th>
        <th><b>УРОВЕНЬ ВЛИЯНИЯ</b></th>
        <th><b>СТРАТЕГИЯ</b></th>
        <th><b>ТАКТИКА</b></th>
    </tr>
    </thead>
    <tbody>
                            <tr onClick="edit_risk(1);">
                <td rowspan=2>1</td>
                <td rowspan=2>Неправильное предоставление исходных данных</td>
                <td>5</td>
                <td>5</td>
                <td rowspan=2>Избегание</td>
                <td rowspan=2>Прописать в контракте регламент и условия предоставления исходных данных;
Прописать требования к процессу предоставления исходных данных;
Назначение ответственного лица по взаимодействию с Заказчиком на этапе уточнения исходных данных;</td>
            </tr>
            <tr onClick="edit_risk(1);">
                <td colspan="2">
                    25
                    <br>
                    <img width=50% src="http://127.0.0.1:8000/step15-imgs/5x5.png">
                </td>
            </tr>
                                <tr onClick="edit_risk(2);">
                <td rowspan=2>2</td>
                <td rowspan=2>Еще один риск 2</td>
                <td>1</td>
                <td>2</td>
                <td rowspan=2>Передача</td>
                <td rowspan=2>Снова риски, что за риски, риски всегда есть, кто не рискует тот не пьет шампанского</td>
            </tr>
            <tr onClick="edit_risk(2);">
                <td colspan="2">
                    2
                    <br>
                    <img width=50% src="http://127.0.0.1:8000/step15-imgs/1x2.png">
                </td>
            </tr>
                                <tr onClick="edit_risk(4);">
                <td rowspan=2>3</td>
                <td rowspan=2>ыфваыфва</td>
                <td>3</td>
                <td>4</td>
                <td rowspan=2>Смягчение</td>
                <td rowspan=2>фыфывлфывывф</td>
            </tr>
            <tr onClick="edit_risk(4);">
                <td colspan="2">
                    12
                    <br>
                    <img width=50% src="http://127.0.0.1:8000/step15-imgs/3x4.png">
                </td>
            </tr>
                        </tbody>
</table>