<table style="width:100% !important;">
    <thead id="head_fixed">
    <tr>
        <th><b>№</b></th>
        <th><b>НАИМЕНОВАНИЕ СТАТЕЙ ЗАТРАТ</b></th>
        <th><b>СТОИМОСТЬ ЗА ЕДИНИЦУ</b></th>
        <th><b>ВРЕМЯ РЕСУРСА В ПРОЕКТЕ</b></th>
        <th><b>СУММА</b></th>
    </tr>
    </thead>
    <tbody>
                        <tr onClick="edit_statiya('1');">
            <th colspan="5" style="font-size:14 !important; text-align: center !important; background-color: #F4DD77;">
                1.	Организационный блок 2
            </th>
                                                <tr onClick="edit_statiya('7');">
                        <td>1</td>
                        <td>Техническая поддержка сайта и онлайн мероприятий проекта</td>
                        <td>1000</td>
                        <td>12 месяцев</td>
                        <td>12 000</td>
                    </tr>
                                                        </tr>
                <tr onClick="edit_statiya('2');">
            <th colspan="5" style="font-size:14 !important; text-align: center !important; background-color: #F4DD77;">
                2.	Jana Talap
            </th>
                                                <tr onClick="edit_statiya('8');">
                        <td>2</td>
                        <td>Маркетинг (коммуникации, продакшн и реклама, работа с базой целевой аудитории)</td>
                        <td>40000</td>
                        <td>на проект</td>
                        <td>234234</td>
                    </tr>
                                                        </tr>
                <tr onClick="edit_statiya('13');">
            <th colspan="5" style="font-size:14 !important; text-align: center !important; background-color: #F4DD77;">
                Общая сумма
            </th>
                                                <tr onClick="edit_statiya('14');">
                        <td>3</td>
                        <td>Общая стоимость проекта</td>
                        <td></td>
                        <td></td>
                        <td>50000</td>
                    </tr>
                                                        </tr>
            </tbody>
</table>