.table__content{
    max-width: 100%;
    overflow-x: scroll;
}
table{
    font-family: sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}
thead tr:first-child th:first-child {
    vertical-align: bottom;
}
thead th{
    background: #D7EFF1;
}

th, td{
    padding: 15px 5px;
    text-align: center;
    border: 3px solid white;
    empty-cells: hide;
}

tbody th{
    background: #F3EBE8;
    border: 3px solid white;
}
tbody tr:first-child td{
    border-top: none;
}
td{
    border: 2px dotted black;
}
td:not(.empty):hover{
    background: #F3EBE8;
}
td.empty{
    background: #EFEFEF;
}