.table__content{
    max-width: 100%;
    overflow-x: scroll;
}
table{
    font-family: sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}
thead tr:first-child th:first-child {
    vertical-align: bottom;
}
thead th{
    background: #D7EFF1;
}

th, td{
    padding: 5px 5px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid white;
    empty-cells: hide;
}

tbody th{
    background: #F3EBE8;
    border: 3px solid white;
}
tbody tr:first-child td{
    border-top: none;
}
td{
    border: 2px dotted black;
}
td:not(.empty):hover{
    background: #F3EBE8;
}
td.empty{
    background: #EFEFEF;
}


.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    font-size:18px;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
    width:100%;
}
.tree, .tree ul {
    display: table;
}
.tree ul {
  width: 100%;
}
    .tree li {
        display: table-cell;
        padding: .5em 0;
        vertical-align: top;
    }
        .tree li:before {
            outline: solid 1px #666;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree li:first-child:before {left: 50%;}
        .tree li:last-child:before {right: 50%;}

        .tree code, .tree span {
            border: solid .1em #666;
            border-radius: .2em;
            display: inline-block;
            margin: 0 .2em .5em;
            padding: .2em .5em;
            position: relative;
        }

        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }

            .tree ul:before,
            .tree code:before,
            .tree span:before {
                outline: solid 1px #666;
                content: "";
                height: .5em;
                left: 50%;
                position: absolute;
            }
            .tree ul:before {
                top: -.5em;
            }
            .tree code:before,
            .tree span:before {
                top: -.55em;
            }

.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > code:before,
    .tree > li > span:before {
      outline: none;
    }


/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li span:hover, .tree li span:hover+ul li span {
    background: #c8e4f8; color: #000;
    cursor:pointer;
}
/*Connector styles on hover*/
.tree li span:hover+ul li::after, 
.tree li span:hover+ul li::before, 
.tree li span:hover+ul::before, 
.tree li span:hover+ul ul::before{
    border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/